[2018-08-14 00:04] Salamek opened #1 "Documentation"
We need to create documentation for all endpoints

* [ ] Code comments
* [ ] Generated docs

[2018-08-14 00:06] Salamek opened #2 "Firmware upload API needs to be tested"
FileManager.upload is not tested... for obvious reasons...

[2018-08-14 00:06] Salamek opened #3 "Add missing API calls from System settings section"

[2018-08-23 01:08] Salamek opened #4 "Tests"

[2018-09-09 20:29] #3 closed

[2018-10-10 19:26] jedrz opened #9 "Failed re-login attempt after timeout"
Hi,

Thank you very much for creating this library! I own Huawei B529 router and I use your library via home-assistant project to detect devices presence at home. However I noticed a problem after re-login attempt. It fails with 125003 error code. Here is the traceback:

[code]

Reloading the connection with `reload` and then redoing the operation works fine. Do you have any clues how it could be

[2018-10-11 10:31] Salamek commented on #9
@jedrz Hi, sadly i dont own any Huawei LTE router right now (I had Huawei B310s-22 borrowed from client) so no way to test that for me right now... sorry.
You must hunt this bug down on your own...

[2018-11-07 14:03] cagnulein opened #11 "Tesing the example"
Traceback (most recent call last):
  File "router.py", line 1, in <module>
    from huawei_lte_api.Client import Client
  File "/home/pi/.local/lib/python2.7/site-packages/huawei_lte_api/Client.py", line 38
    def __init__(self, connection: Connection):

I'm just testing the example

[2018-11-07 14:39] Salamek commented on #11
@cagnulein this is **Python3** project, python2 is frankenstein's monster (it is dead a few years but it is still walking somehow) please use **Python3** :

For debian based distros:
[code]

[2018-11-07 14:53] #11 closed

[2018-12-26 13:30] BenjaminKnol opened #14 "Receiving SMS and based on the content take further action"
I am trying to use your software to detect whenever an sms is received that tells me that I have 500MB left of my data package so I can send a new SMS which gives me an extra gig of data. I think this api is right for that but can't figure out how to acces the content of received SMS' so that I can do a simple
if(message.contains("message telling me I'm nearly out of data")){
  send_sms(foo, bar,

[2018-12-26 14:14] Salamek commented on #14
@BenjaminKnol
Well theoretically yes, practically:
[code]
This code example is using correct methods etc, but idk return data format of these methods and i don't have any Huawei modem in my possession right now... so i'm unable to test it...
So you should check output of each method to see what it is returning (print(client.sms.get_sms_list())) etc

[2018-12-26 15:08] BenjaminKnol commented on #14
right now I've got the following code:
for sms in client.sms.get_sms_list():
    (sms)

it is spitting out the following error:
Traceback (most recent call last):
  File "/Users/DennisK/Desktop/BenBot/huawei-lte-api/Run.py", line 16, in <module>
    for sms in client.sms.get_sms_list():
  File "/Users/DennisK/Desktop/BenBot/huawei-lte-api/huawei_lte_api/AuthorizedConnection.py", line 19, in wrappe

[2018-12-26 16:38] Salamek commented on #14
@BenjaminKnol What modem do you have ?

[2018-12-26 16:59] BenjaminKnol commented on #14
@Salamek  B525s-23a. So to clarify myself, in case you found my other messages a bit confusing, What I'm trying to achieve is to get the latest received message or get an update whenever the modem receives a message. Then I want (when the message is telling me that I have 500 MB left over) to send a message which asks for another gig. If the message is different I just want to sleep for 10 minutes

[2018-12-26 17:02] BenjaminKnol commented on #14
@Salamek It would probably be best to just check the last received SMS every 10-15 mins so I guess my question would be wether itis possible to just check the last received SMS for its content. Then I'd probably put that in a String and then check wether that String contains the message telling me that I'm running low on data

[2018-12-26 17:17] Salamek commented on #14
@BenjaminKnol calling `client.sms.get_sms_list()` is a correct way, there is no "get_last_sms" call...
When `client.sms.get_sms_list()` is not working for you... you are on your own in debuging what is going on...since i dont own any device i can test this on.
Support for `B525s-23a` was added by @scop , so maybe ask him for help/test? maybe ?

[2018-12-26 17:36] BenjaminKnol commented on #14
@scop I'm trying to create a system where whenever I receive an SMS telling me I have only 500MB left on my 'unlimited' data package, I send an SMS through the modem to a certain number with a short String that ask for another GB. I've got the code for sending an SMS and that works perfectly. I'm able to ask for 1 GB or even more if I write a simple for loop and just send the message multiple time

[2018-12-27 21:50] Salamek commented on #14
@BenjaminKnol there are some fixes in master branch by @scop, can you retest your code with latest master ?

[2019-01-01 22:10] Salamek commented on #14
@BenjaminKnol is this issue resolved for you ?

[2019-01-03 13:47] Salamek commented on #14
No response for 2 days, i take this as resolved...

[2019-01-03 13:47] #14 closed

[2019-01-03 18:39] BenjaminKnol commented on #14
So sorry I couldnt response I was offline for a few days. The update to the master did fix my problem and I got it working brilliantly. Many thanks!

[2019-01-07 15:37] littlejo opened #18 "Examples of script based huawei-lte-api"
Hello,

Just to inform i created a git repo with my own scripts based on this library:
https://github.com/littlejo/huawei-lte-examples

[2019-01-07 22:13] stephanfevrier opened #19 "Unknown error for send_sms"
Hi,

Thank you for developing this api. However, I am getting an error when trying to send an sms using this api:
[code]

My script looks like this:

[code]

Am I doing anything wrong, or is this a bug? Using version 1.1.3 on Raspbian 9.6.

Thanks in advance for your help.

Stephan

[2019-01-09 00:04] #18 closed

[2019-01-09 00:04] Salamek commented on #18
@littlejo thx, added into README.md

[2019-01-09 00:17] Salamek commented on #19
@stephanfevrier Hi,
Check how `list()` works
[code]
That is not what you wanted right ? :)

`send_sms` accepts list of phone numbers as a first argument `send_sms(['+420123456789', '+420987654321', 'Hey you two!'])`

Try this code:

[code]

[2019-01-10 20:07] stephanfevrier commented on #19
I just successfully sent an SMS from my B525-23a SIM Card using the huawei hilink app. So the whole route from external app through API, router, cell provider to my business cell phone seems to work.
Same thing is true using the official huawei web interface.

[2019-01-11 13:06] BenjaminKnol commented on #19
hey there @stephanfevrier  I also used this api and got it working perfectly I'll share the code I used to send an SMS:

`client.sms.send_sms([PhoneNumberHere], "Message sent as a string")`

it is imperative you use these data types because otherwise you will just get errors

[2019-01-12 09:37] scop opened #20 "Include change log / release notes"
Some kind of change log or release notes for releases would be nice. Maybe https://github.com/apps/release-drafter would be useful? I have no experience with it myself, the Home Assistant folks just recommended it in https://github.com/home-assistant/home-assistant/pull/19987.

[2019-01-17 20:52] stephanfevrier commented on #19
@BenjaminKnol I tried it again:
[code]

and got
[code]

What next? Is there a possibility for a debugging mode of this api or are there any logs that could tell me what causes the error.

[2019-01-19 11:43] BenjaminKnol commented on #19
@stephanfevrier hmm weird error, there are two things which I'm considering could be causing your error:

1. Authorized connection is not correctly being established, you can test this by printing
`print(client.device.information())`

2.Some error is being returned but the SMS still may be sent, could you check this as well?

[2019-02-03 15:40] Salamek commented on #19
I could simply debug and fix this, if i had required HW or remote access to it... so if someone can provide one of these:
* direct remote access to testing HW (VPN or Public IP or SSH to machine in same network)
* Send me testing HW
* Send me $ to buy testing HW
...

[2019-02-03 16:42] technarf commented on #19
Thanks for your response. I'm not sure to understand what I have to do...
If I download your fork, it would be ok or not ?
I don't know anything in python so please be indulgent.

[2019-02-03 21:55] stephanfevrier commented on #19
With my very limited debugging skils, this is what I found out:

[code]

For comparison's sake, I have also recorded what happens when I (successfully) send a SMS through the web interface. The relevant requests were:
[code]

@Salamek Can you do something with this? Let me know what else you would need to get to the source of our problem.

[2019-02-03 22:37] Salamek commented on #19
@stephanfevrier
THX! that looks good

Web GUI request body:
[code]

API request body:
[code]

As you can see, parameter `Length` is differend for web GUI vs API when same string is provided, could you check web GUI JS source code for function calculating Length argument ? It looks like it is ignoring spaces or something...

If you dont know how to find it then just download all JS files loaded by

[2019-02-04 19:36] stephanfevrier commented on #19
@Salamek
Apologies, I've put you on a wrong track there. Apart from editing PASSWORD and phone number, I did also edit the message content, but forgot about its relation to the Length property. The original API message did match its length.

[2019-02-04 20:50] Salamek commented on #19
@stephanfevrier hmm ok, now when i look on it, you are using Python lower than 3.6 right ?
Cos order of items in generated XML is incorrect (Python 3.6+ keeps dict items order but older versions dont)

XML:
[code]
Code:
[code]

And i heard rumors that some Huawei routers are requiring correct order of items in XML...
So if you colud pls test your code in Python 3.6+ ?
And if this will work, i will

[2019-02-05 01:31] Salamek commented on #19
Fixes for Python 3.5 in branch https://github.com/Salamek/huawei-lte-api/tree/ordered-dict
Can anyone test if this branch fixes issue under python 3.5?

[2019-02-05 20:44] stephanfevrier commented on #19
Solved my issue too. Just took a while until I realized that I needed to use the python3.7 command instead of python3.

Thank you Salamek!

[2019-02-05 22:10] #19 closed

[2019-02-05 22:18] Salamek commented on #20
@scop release-drafter is nice piece of SW, but im using differend release workflow (https://github.com/Salamek/version)
So i will try to fill some News/Fixes info in each release since version 1.1.4

[2019-02-05 22:18] #20 closed

[2019-02-09 23:55] BenjaminKnol opened #23 "Running on RaspberryPI and getting a seemingly randomized object from client.sms.get_sms_list"
Hey there, it's me again running into another problem! So I got the API to work brilliantly on my laptop but for convenience I'm now trying to run it on a raspberry PI for the purpose of sending an SMS to ask for extra GB's when I'm running low to my ISP. Like I said I got it to work perfectly on my laptop so I just pushed that code to a fork and then pulled that to my PI. First ran into a spot of

[2019-02-10 00:05] BenjaminKnol commented on #23
NVM, I was (and stil am) a dumbass when writing the original code. Because instead of looking through a key value list (think it's called an object not sure (once again not that familiar with Python)) I first remove the keys and then chose one from the returned array... Now I've changed it to the sensible option where it just looks for the key "Content" you know like a sane person would. Woops

An

[2019-02-10 09:31] Salamek commented on #23
@BenjaminKnol maybe enable SMS sorting ? There is none by default...
You have these options to sort it:
[code]

I forgot to create Sms.SortTypeEnum, so if you colud parse those values from web GUI and post them here so i can add them.
You want to sort by receive date descending and maybe unread_preferred too ?
Something ~like:
[code]

[2019-02-12 12:43] BenjaminKnol commented on #23
If I can find the time I may consider it but don't expect too much since I'm quite busy currently.

[2019-02-13 16:21] chenwei791129 opened #24 "Thx, I successfully tested on B525s-65a"
I successfully tested on B525s-65a and create a repository:
https://github.com/chenwei791129/Huawei-LTE-Router-SMS-to-E-mail-Sender

share for you~

[2019-02-13 17:59] #24 closed

[2019-03-01 15:30] hista opened #25 "Install issue: TypeError: 'encoding' is an invalid keyword argument for this function"
[code]

[2019-03-01 16:38] Salamek commented on #25
From your log
[code]
In my world Python 2  is deprecated since two> years ago... so this is python3 only project, you must install python 3 to your OS, if you are using Debian based distribution just run:
[code]

Closing...

[2019-03-01 16:38] #25 closed

[2019-03-01 16:42] hista commented on #25
Thanks for your quick answer.
I already tried pip3, but it didn't work either:
[code]

[2019-03-01 16:47] Salamek commented on #25
@hista that looks like broken python3/pip3 install, try to reinstall it:
[code]
and try again

[2019-03-01 16:52] hista commented on #25
Unfortunately it didn't work:
[code]

[2019-03-01 17:10] Salamek commented on #25
@hista You need to get your pip3 working, printing version should look like this:
[code]

Or you can try installing from my Debian repository, see: https://github.com/Salamek/huawei-lte-api#repository

But i would suggest to solve your python3/pip3 issues first...

[2019-03-01 18:22] hista commented on #25
Thanks to google, I've found a solution:
[code]
Thanks for your help Salamek!

[2019-03-01 18:31] Salamek commented on #25
@hista :+1:

[2019-03-04 13:12] realthk commented on #9
Same here on my Huawei B525 from Home Assistant.

[2019-04-25 10:34] Zibri opened #28 "Question"
Is there any way to have telnet/ssh access to the router?
If not I might get one and start inspecting it.

[2019-04-25 21:54] Salamek commented on #28
@Zibri IDK,  and i dont have any device to check...

[2019-05-08 13:50] rradar opened #31 "Support for self-signed/invalid certificates"
Hello!

I'm having the problem that my huawei firmware comes with a weird self-signed/invalid certificate

which stops me from using the huawei-lte-api.

I get this error using the huawei-lte-monitoring script from @littlejo

[code]

[2019-05-13 11:44] ttattto opened #32 "USSD Request"
Hi,
Is there current support to run ussd requests using the api?

[2019-05-13 13:28] #32 closed

[2019-05-19 11:52] Salamek commented on #31
@rradar Can you pls check against branch https://github.com/Salamek/huawei-lte-api/tree/issue-31 and let me know if it works ok ?

In this branch you can set verify_ssl=False as connection parameter:

[code]

BTW: This approach is not recommended way how to hanlde self signed/unknow certificates, you should import that certificate to machine where you are using this library and make it trusted...

[2019-05-26 16:26] rradar commented on #31
@Salamek thank's for your exclusive branch for me! I'm suffering right now using it. I installed the main version with pip3 (*buntu based distro) and have actually no idea how to get this one here manually compiled. I did clone this tree but would need some short instruction how to go further! Thank's :wink:

[2019-05-26 21:07] Salamek commented on #31
@rradar

1. Clone this repository:
[code]
2. cd into it:
[code]

3. Switch to `issue-31` branch
[code]

4. Create file `test.py` with this content inside cloned huawei-lte-api:
[code]

5. Test it!
[code]

It should use cloned `huawei-lte-api` instead of pip3 installed one (if you want to be sure, just uninstall pip installed huawei-lte-api) and print out device info... Let me know how it works so

[2019-05-28 11:40] rradar commented on #31
@Salamek

I tried with a different command as with `git clone git@github.com:Salamek/huawei-lte-api.git` I always get `Permission denied (publickey)` errors (need to fix this later)

..entering the new folder...

...creating the test.py and running it:

I'm not sure if their was a problem choosing the right branch? Any idea?

[2019-05-28 12:25] Salamek commented on #31
@rradar you must use python3!
[code]

[2019-05-28 17:02] rradar commented on #31
thank's @Salamek this makes sense :wink:

Here is my output:

`python3 test.py
`
[code]

[2019-05-28 18:10] Salamek commented on #31
@rradar that looks like different issue, it fails to parse XML response from router...

can you run:

[code]

And post content of `index.html` `out.xml` here ?

[2019-05-28 20:44] rradar commented on #31
@Salamek

now we are getting closer... both have the same "content" a 302 error exactly

[code]

I guess the device I'm trying to use is not (yet?) supported. I searched some of the supported models and found quite similar screenshots of the web interface so I thought it might be supported. I try to get your script running on a huawei b2368-22 (https://www.vodafone.cz/pece/osobni-a-firemni/otazky/

[2019-05-28 21:05] Salamek commented on #31
@rradar try to use https:// instead of http when testing Connection... this may be just redirect from http to https...

[2019-05-28 22:25] rradar commented on #31
@Salamek
curl gives me this error: `curl: (60) SSL certificate problem: self signed certificate`

When I open the links with a browser I get `**404**` for `https://192.168.1.1/webserver/token` and a force redirect to `**https://192.168.1.1/login.cgi**` when entering `https://192.168.1.1/index.html`

[2019-05-28 23:50] Salamek commented on #31
@rradar try to use https:// in AuthorizedConnection() call in test.py file pls...
and could you get `https://192.168.1.1/login.cgi` page HTML code for me ?

[2019-05-29 14:02] rradar commented on #31
@Salamek I get the same error using https in test.py...

Here is the login.cgi code:

[code]

[2019-05-29 19:24] Salamek commented on #31
@rradar hmm... i have bad news for you, this admin interface looks completely different than this library is expecting. (different endpoint names, MPA...) It looks like they changed their firmware supplier for the worst (older MPA solution)...

I cant create support for this device till i have it in my hands... sorry.

[2019-05-29 23:00] rradar commented on #31
Thank's @Salamek for the investigations! Maybe it will become interesting again at some point. The same hardware exists also with a 5g modem instead of the 4g one...

Let's see what the future brings ;)

[2019-05-31 17:01] ahlstart opened #33 "Device.control() info please"
Hi,

I saw a method (set_control) which calls Device.control with 4 as default argument. I also saw value 1 as the way to reboot the router. My watchdog program currently reboots my router when it notices that no bytes have been received during the last monitoring interval, but as the router also performs switch duties in the local LAN, I would actually like to just disconnect it from LTE and then

[2019-06-15 20:47] QuinnDD opened #34 "Delete all SMS"
Hi, im trying to delete all messages after I did something with the received messages, but I get the error unknown 10005. any help?

[2019-06-17 00:15] ahlstart commented on #33
I traced the traffic and found that the admin page sent a POST request to http: // 192.168.8.1 /api/dialup/mobile-dataswitch , with payload <?xml version="1.0" encoding="UTF-8"?><request><dataswitch>1</dataswitch></request> for reconnecting.

So, my monitoring program needs to call
client.dial_up.set_mobile_dataswitch(0)
to disconnect and the same with parameter 1 to reconnect.
Seems to work fine.

[2019-06-17 00:15] #33 closed

[2019-06-17 00:46] Salamek commented on #33
@ahlstart FYI i added this info to function comment
https://github.com/Salamek/huawei-lte-api/blob/2e07d93482c0a390669b9294962f72bb7af4220f/huawei_lte_api/api/DialUp.py#L32

THX for info!

[2019-06-21 11:38] Steve-Temple commented on #34
I had this problem (with a B525). After a little digging, it appears that the Huawei API for SMS delete needs a single "Index", not a list. I modified "delete_sms" in "huawei_lte_api/api/Sms.py" to take a single argument and this seemed to fix it...

[code]
Regards, Steve`

[2019-08-17 18:12] scop opened #36 "Remove @autohorized_call enforcement"
Whether some method requires authentication or not varies between devices, and I suspect even between firmware revisions. The `@authorized_call` decorators may result in some methods not even being tried with unauthorized connections, even if they would work just fine.

I'm not fully aware of the reasoning/need for the decorator or the enforcement in the first place, so not submitting a PR. But I

[2019-08-18 11:27] Salamek commented on #36
@scop `@authorized_call` was created to save request (And i think some endpoints was crashing with differend error when not authorized, but idk) to modem, but if this behavior is differend for differend modems, than `@authorized_call` is useless and we can drop it.

But would be good to mention authorization requirement in method comment, something like:

[code]

For modems we are sure about this

[2019-08-18 11:49] Salamek commented on #34
Can someone confirm if this is true for other modems too ?

[2019-08-18 11:50] #31 closed

[2019-08-18 11:50] #28 closed

[2019-08-18 11:51] Salamek commented on #23
Closed due to old age

[2019-08-18 11:51] #23 closed

[2019-08-18 11:52] Salamek commented on #9
Closed due to old age and probably fixed by #30, if this is still a issue in version 1.3 let me know and i will reopen this issue.

[2019-08-18 11:52] #9 closed

[2019-08-19 14:36] cagnulein opened #39 "net.network() auth issue"
Hi, i'm using your lib every day, thanks for your work!
I've encountered a strange issue about client.net.network().
As you can see from the script below, the client.device.information() works so the authentication process is ok, but when i try to print the net.network() it gives me an error. What do you think?

from huawei_lte_api.Client import Client
from huawei_lte_api.AuthorizedConnection impo

[2019-08-20 00:12] Salamek commented on #39
@cagnulein only thing i can say from this is that XML parser failed to parse response from your router for some reason, does your router support this method ? are you calling it correctly ?

[2019-08-20 06:49] cagnulein commented on #39
I don't know, how can i check if the B525s-23a supports it? What do you mean by "calling it correctly"? The method is parameterless so i can't do it wrong, isn't it?
Thanks

[2019-08-20 13:24] Salamek commented on #39
@cagnulein hmm looks like your router should support this... sadly i dont have any device here to test what is going on on my side...

Hmm could u put `print(response.content)` on https://github.com/Salamek/huawei-lte-api/blob/e9f9a844e26209dbd6e22fe8119d4218848188b7/huawei_lte_api/Connection.py#L160 ?

Run it again and put output here ?

(That also reminds me i shoud add some _LOGGER.debug() into

[2019-08-20 13:24] Salamek opened #40 "Add _LOGGER.debug to XML response/request in Connection"

[2019-08-20 14:51] cagnulein commented on #39
Sure!
`
b'<?xml version="1.0" encoding="UTF-8"?><response><username></username><password_type>4</password_type><firstlogin>1</firstlogin><history_login_flag>0</history_login_flag><wifipwdsamewithwebpwd>1</wifipwdsamewithwebpwd><extern_password_type>1</extern_password_type><State>-1</State><userlevel></userlevel></response>'
b'<?xml version="1.0" encoding="UTF-8"?>\r\n<response>\r\n<pci>124</pci>\r

[2019-08-21 17:03] scop commented on #36
At least these methods have mixed auth/not required between devices:
- client.net.network
- client.online_update.configuration
- client.wlan.status_switch_settings
- client.wlan.wps_pbc

There are also quite a few (about two dozen or so) methods already that are lacking the authorized_call decorator, but require auth at least with some devices.

I think merging the two connections would be fine; j

[2019-08-21 18:30] Salamek commented on #36
@scop

Well... lets just drop @autohorized_call and related code

I dont think that there is anything sane we can do about this... just mention in DOC that this may happen.

I feel like this is too complex to be implemented in this library and some ppl may not like it, i would rather let users of this library handle this as they want (they can always catch a Exception and act on it) but we may pro

[2019-08-21 18:43] scop commented on #36
Cool :+1:

[2019-08-21 19:02] Salamek commented on #39
@cagnulein from data you are  provided, it looks like your device is returning b'' (empty string) on `client.net.network()` call and that is not correct...
You could look on requests made by your modem admin interface via chromium dev tools and check if your modem supports this call and if it does then check why it works in admin interface and not in this library...

Sadly i dont have any testing

[2019-08-21 21:20] cagnulein commented on #39
@Salamek are you sue?

isn't this the answer to network()? (copy from my previous comment)

b'<?xml version="1.0" encoding="UTF-8"?>\r\n<response>\r\n<pci>124</pci>\r\n<sc></sc>\r\n<cell_id>205597482</cell_id>\r\n<rsrq>-12dB</rsrq>\r\n<rsrp>-114dBm</rsrp>\r\n<rssi>-81dBm</rssi>\r\n<sinr>4dB</sinr>\r\n<rscp></rscp>\r\n<ecio></ecio>\r\n<mode>7</mode>\r\n<ulbandwidth>20MHz</ulbandwidth>\r\n<dlbandwid

[2019-08-21 23:38] Salamek commented on #39
@cagnulein i'm not sure :smile_cat: , but there is `b'' Traceback (most recent call last):` in your log... that means empty string was passed to parser just before crash (i assume that b'' comes from our debug print())

best you can do is run it again with only

[code]
to make log a bit clean... and maybe use `print('START={}=END'.format(response.content))` instead of `print(response.content)` ?

[2019-08-22 05:19] scop commented on #39
On Wed, Aug 21, 2019 at 10:02 PM Adam Schubert <notifications@github.com>
wrote:

Unfortunately not right now, nor in the near future.

[2019-08-22 07:37] cagnulein commented on #39
@Salamek here you are:

`START=b'<?xml version="1.0" encoding="UTF-8"?><response><username></username><password_type>4</password_type><firstlogin>1</firstlogin><history_login_flag>0</history_login_flag><wifipwdsamewithwebpwd>1</wifipwdsamewithwebpwd><extern_password_type>1</extern_password_type><State>-1</State><userlevel></userlevel></response>'=END
START=b''=END
Traceback (most recent call last)

[2019-08-26 18:05] #36 closed

[2019-09-03 04:49] sjtosco opened #44 "Add working models"
Hi, i test API with two models and it going well for now.
I just need two methods, and works well:
 * client.device.signal()
 * client.device.information()
The models are: e8372 y e3372
Regards!

[2019-09-03 04:49] #44 closed

[2019-10-03 07:42] HenryDelMal opened #46 "ValueError: 3 is not a valid PasswordTypeEnum"
When trying to authenticate after reset a B310 to defaults, AuthorizedConnection fails:

It seems the router is returning the value 3 for PasswordTypeEnum because it is expecting to change the password.

After changing BASE64 enum to 3 it logins perfectly.

[2019-10-03 13:17] Salamek commented on #46
Looks like we are missing some enum values in PasswordTypeEnum
We need to find out what 3 means and (my guess is something like "BASE64_USE_NEW_PASSWORD") implement it correctly into lib

Sadly i dont own any testing device, so could you find out ?
Or
Could you dump your router login page for me ? (wia wget with all JS depedencies) and send it to my email?

[2019-10-18 05:16] Salamek opened #50 "*Testing Hardware needed*"
# Why ?

**Testing HW** is **needed** to properly maintain this library and to solve some issues:
#4 I need real HW to write full coverage unittests (i will ~use dumped responses in tests)
#1 I need real HW to write full documentation
#2 I need real HW to test this functionality and add some input FW tests to prevent bricking the device
#39 & #46 & #34 I need real HW to test && fix these issues

#

[2019-10-31 10:36] edsub opened #51 "Issue in connecting to Huawei B315s-22"
I recently found your project
via https://github.com/chenwei791129/Huawei-LTE-Router-SMS-to-E-mail-Sender
because I was looking for a way to forward SMS's from my remote (1500km away!) Issue  Huawei B315s-22 to either email or another sms number.

I tried to get things running on a RPi running Raspbian Jessie with Python 3.5.7 (previous attempt with 3.5.1 failed with numerous issues). I am hesitat

[2019-10-31 23:06] HenryDelMal commented on #46
Sorry about the delay.

I was testing with wget to the API and the only thing I get is:
[code]
for both, state-login and login

What would be the correct command for get what you want? I could also grant access you to real hardware via VPN.

[2019-11-24 20:11] robertliska commented on #34
I confirm the Steve's fix works also for E3372. (list not working)

[2019-11-25 21:20] Salamek commented on #51
@edsub only way to debug this is check what calls is official web UI doing on log-in and check what this library is not doing/doing wrong...

[2019-11-29 08:57] larsvinc commented on #50
Hi! I have a Huawei B535-B232. It seems like most of the API works on it. Is there a way for me to run the full test on the unit I have. All the API commands I have tested, including all SMS commands work, except sending SMS:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/dist-packages/huawei_lte_api/api/Sms.py", line 107, in send_sms

[2019-12-03 21:09] larsvinc opened #53 "SMS not working for B535-232"
This api seems to work great for the B535 as well, with the exception of the send_sms function:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/dist-packages/huawei_lte_api/api/Sms.py", line 107, in send_sms
    )), dicttoxml_xargs=dicttoxml_xargs)
  File "/usr/local/lib/python3.7/dist-packages/huawei_lte_api/Connection.py", line 22, in wr

[2019-12-04 19:28] larsvinc commented on #53
I debugged this with wireshark, taking a diff of the command sent from the browser and from the python api. The difference was that with the browser, the attribute types was omitted from the command:
<?xml version="1.0" encoding="UTF-8" ?>
<request>
<Index type="int">-1</Index>
<Phones type="list">
<Phone type="str">RETRACTED</Phone>
</Phones>
<Sca type="str"></Sca>
<Content type="str">TESTABCD</C

[2019-12-07 18:30] octave21 opened #56 "Time issue with B525S-23a"
I am using a B525S-23a Huawei router and your API. Thanks for that great job.

Within the function state_login from Class User.py I was forced to add a wait in order to let the time to the router to answer correctly with a not empty dictionary.

Line number 26 :
``import time``
``time.sleep(0,1)``

Without that, the exception thrown is :
 `('Connection aborted.', RemoteDisconnected('Remote end clo

[2019-12-13 21:47] HydrelioxGitHub opened #57 "New hardware"
I've tried to integrate my B528s in Home Assistant and it seems to work well. I don't know if I can do something to provide more info.
I've not tried sms.

[2019-12-14 00:20] #57 closed

[2019-12-16 15:59] ViktorEvil opened #58 "Authorized Connection to devices without a username"
is it possible to use an Authorized Connection to devices such the B311s and the B535 which do not have a username section on the web interface

I have tried leaving the username blank etc

connection = AuthorizedConnection('http://my_password@192.168.8.1/')

[2019-12-16 18:39] Salamek commented on #58
@ViktorEvil isnt there a hardcoded username in web interface JS code ? like 'admin' or something ?

[2019-12-19 10:04] ViktorEvil commented on #58
yes its says 'admin' but using it as such gives an error that says its not authenticated

connection = AuthorizedConnection('http://admin:my_password@192.168.8.1/')

if I use HManager on an old android tablet and leave the username blank it gets authorised but if I use admin for the username it doesn't.

[2019-12-20 08:39] JimmyS83 commented on #51
The same for Huawei 3531i-2. I will see if I can help, any hints appretiated :)

[2019-12-21 06:12] JimmyS83 commented on #51
3531 use `/api/webserver/SesTokInfo` for getting session info. I believe whole family of Huwei routers, based on ajax / jquery will be the same ( E5186, E5573Bs-320 etc.).

Following Python works : https://github.com/gallinapassus/huawei-e5186 (after fixing typo in date)
Following bash works: https://github.com/cmaion/huawei_router

@Salamek would be nice to add getSession option through `/api/web

[2019-12-27 12:52] taufikterdidik commented on #51
Me too.. I got Session Error on B310
but lucky I program on another pc with vs code (thanks to code completion), and I write this

`
....
connection = AuthorizedConnection('http://192.168.254.1/', username='admin', password='P@ssw0rd!')
....
`
and it worked, I thinks url with username+password schema not working, so we make it separate parameter..

(sorry for language)

[2020-01-01 15:14] wisekki opened #61 "Connection to E5186s-22a failed. 125002: Session error"
I'm trying to connect to my huawei lte with the code example from README.md. Can someone please tell me what I'm doing wrong. I'm using Python 3.7.5 and ip/username/pwd are correct. Thank you!

and this is the result:

 __init__

[2020-01-03 09:56] octave21 commented on #61
[Here](https://github.com/octave21/huawei-ltel) my code which works well with Python 3.8 (take care of the issue #56 when using the API)

[2020-01-03 10:37] wisekki commented on #61
Thank you for the response and code example.. unfortunately I only get:

[2020-01-03 13:01] octave21 commented on #61
ok
I suppose your IP is correct, because my default IP is 192.168.8.1

[2020-01-03 17:51] wisekki commented on #61
Yes it is correct.. I can utilize the modem with api written in PHP but I really need one with python for full home assistant support :)

[2020-01-07 21:21] #53 closed

[2020-01-07 21:39] #34 closed

[2020-01-08 01:57] Salamek commented on #61
@wisekki can you try huawei-lte-api version 1.4.6 ?

[2020-01-08 01:58] Salamek commented on #58
@ViktorEvil can you try huawei-lte-api version 1.4.6 ? (using admin as username)

[2020-01-08 01:59] Salamek commented on #51
@edsub can you try huawei-lte-api version 1.4.6 ?

[2020-01-08 10:18] wisekki commented on #61
@Salamek hey now it works! And I can send text messages nicely. Very nice work indeed. Thank you!

[2020-01-08 10:18] #61 closed

[2020-01-08 14:27] #46 closed

[2020-01-08 14:47] Salamek commented on #56
https://github.com/psf/requests/issues/4784

[2020-01-08 16:57] octave21 commented on #56
What can I do for you ?

[2020-01-08 17:40] Salamek commented on #56
@octave21 ah, i'm sorry i just put that URL here for reference... maybe i should add some description to it to prevent confusion...
Anyway, it looks like this is issue on server side, so if we want support B525S-23a we will need to introduce some option to enable "hacks" for given device, i'm thinking about something like:
``
AuthorizedConnection('http://admin:pwd@192.168.8.1/', hacks=[HacksEnum.B

[2020-01-09 15:32] Salamek commented on #39
@cagnulein there are some timing issues with B525S-23a webserver #56, it may be related to this...

[2020-01-09 15:35] cagnulein commented on #56
@octave21 do you have the issue every time you run a command? To me it happens just sometimes...

[2020-01-09 15:38] cagnulein commented on #39
@Salamek ok, let's investigate about it. I answered on #56
Thanks for the notification ;)

[2020-01-09 16:40] octave21 commented on #56
When my PC is plugged on the B525S via a near CPL (~ 3 meters between the CPL of the PC and the CPL of the B525S), I always experience the issue. When my PC is plugged on the B525S via a "foreign" CPL (~ 40 m between the two CPL) I do not have the issue.

[2020-01-09 17:12] Salamek commented on #39
@cagnulein could you put

`time.sleep(0.5)` on lines:
https://github.com/Salamek/huawei-lte-api/blob/3577ba9828af794bb649f7add396b10c673f8c62/huawei_lte_api/Connection.py#L125
https://github.com/Salamek/huawei-lte-api/blob/3577ba9828af794bb649f7add396b10c673f8c62/huawei_lte_api/Connection.py#L181

(before headers = {})

and don't forgot to add `import time` on line:

https://github.com/Salamek/hua

[2020-01-10 07:12] cagnulein commented on #39
@Salamek i've tested now WITHOUT the sleep (so with the same code that i had on the first post) and everything works fine.

The only change that i made is to use a powerline instead of wifi from my raspberry (where the python script runs) to the router.

This weekend i will try via wifi with my laptop and i will let you know.

This info seems to be in the same @octave21 way (latency creates proble

[2020-01-11 21:30] Salamek commented on #39
@cagnulein ok, i'm closing this, lets continue this issue in #56 since it is issue of a device webserver as a whole thing...

[2020-01-11 21:30] #39 closed

[2020-01-12 16:04] Salamek commented on #58
@ViktorEvil closing this, since i think it was resolved in 1.4.6, fell free to comment for issue reopening when this issue is valid for 1.4.6...

[2020-01-12 16:04] #58 closed

[2020-01-12 18:33] Salamek commented on #51
@edsub  @JimmyS83  @taufikterdidik closing this, since i think it was resolved in 1.4.7, fell free to comment for issue reopening when this issue is valid for 1.4.7...

[2020-01-12 18:33] #51 closed

[2020-01-16 06:12] seipekm commented on #50
B528s-23a not working

[2020-01-19 22:39] goldandy opened #62 "error code 100003"
Hi there
I'm trying to use this API with Huawei B315 LTE router.
Everything is ok with receiving modem status, but I can't work with SMS

in case of bash script I'm getting error 100003

Any ideas how to solve this issue?
below is output of bash script

[code]

Will appreciate for any help

[2020-01-20 01:52] Salamek commented on #62
@goldandy uh, bash script ? this is a python3 project...

[2020-01-20 10:19] #62 closed

[2020-01-21 09:47] goldandy opened #63 "+ sign disapper"
Hi
I'm using B315 Huawei LTE router.
When I tried to send SMS by API with python, i got OK but SMS wasn't arrived

[code]
This is my python script

[code]

I checked both requests from python and from GUI and find out, that in case of python I can't see "+" sign in the front of mobile number

Python output

`<?xml version="1.0" encoding="UTF-8" ?><request><Index>-1</Index><Phones><Phone>796728585X

[2020-01-21 19:21] Salamek commented on #63
@goldandy your phone number was evaluated as a number, since you did not put it inside `''`, just change
[code]
 to
[code]

[2020-01-21 21:28] goldandy commented on #63
Great, thanks a lot, now it works!
I did a great job :)
Sure you can add B315 in the list of supported model

Andrey

[2020-01-21 21:28] #63 closed

[2020-02-05 14:16] cagnulein commented on #34
I confirm the Steve's fix works for B525

[2020-02-16 08:52] mynameisv commented on #50
Hi,
your lib works with my Huawei E3531 on a raspberry pi, great job :-) :

:/tmp# lsusb
Bus 001 Device 006: ID 12d1:**** Huawei Technologies Co., Ltd. E161/E169/E620/E800 HSDPA Modem

:/tmp#  gammu identify
Warning: No configuration file found!
Warning: No configuration read, using builtin defaults!
Device               : /dev/ttyUSB0
Manufacturer         : Huawei
Model                : E3531 (E3

[2020-02-18 06:11] tomasz8w opened #65 "Session related issue"
Hi,
I'm opening this issue as a continuation of reported problems with HomeAssistant huawei_lte integration that started few months ago. [https://github.com/home-assistant/home-assistant/issues/29901](url)
When trying to set up huawei_lte platform this error occurs:

[code]
As @scop suggested I did some test using script below:
[code]
and what I found - all versions of huawei_lte_api after 1.2 and

[2020-02-18 07:32] scop commented on #65
Hm, just to confirm: it's a b252s-23a, and not b525s-23a? I haven't
heard of the former, but I don't OTOH claim to have heard of every
model :)

[2020-02-18 07:34] tomasz8w commented on #65
sorry, typo. it's b525s-23a of course ;)

[2020-02-18 16:20] Salamek commented on #65
Hmm, looks like this is caused by https://github.com/Salamek/huawei-lte-api/commit/b1cba8281f2c42dbe2ac75e4dcbf4f70f0d6a696 ... maybe cookiejar was a bit slower than Session ? :smile:

@tomasz8w so B525S-23a huh? please check this issue https://github.com/Salamek/huawei-lte-api/issues/56 and let us know if that `time` hack mentioned in issue description works for you

[2020-02-19 01:22] Impostor-syndrome commented on #9
Hey Salamek,  first of all, thanks for a great project.  I am currently on a b525s-65a and still experiencing this issue, I have set up a script which pulls a client list,  iv tried with 2,5,10 minutes delay,  and still experience issue mentioned above.  Is there any way where I can help out troubleshooting this?

[2020-02-19 05:20] scop commented on #65
Shooting in the dark here, but the Django related requests issue talks about keep-alive implementation issue. If that's what this is about, maybe instead of adding arbitrary hacky sleeps, we we could try doing some of the initial requests that trigger this with keep-alive explicitly turned off, then continue with it on as usual instead?

[2020-02-19 14:51] Salamek commented on #9
@Impostor-syndrome is hack from #56 working for you ?

[2020-02-19 15:57] Salamek commented on #65
@scop i was looking into it and read same articles... there is no official way to disable keep-alive in latest python `requests` library... we may try to adding `Connection: close` to request header, or some other stuff... But without reliably reproducing this issue locally (meaning i need testing device again) trying this stuff and waiting for affected users to report if it works may be huge wast

[2020-02-19 20:18] scop commented on #65
I believe in addition to the session benefits you mentioned I've witnessed fewer session related errors. There may have been some other ones, can't remember any more. But as said, it's really the right thing to do, and is also what practically every browser out there does, so... oh well.

I wouldn't revert that commit at least yet. If you want to have a try and go with disabling keep-alive for all

[2020-02-19 22:48] Salamek commented on #65
ok lets try connection: close with boolean in Connection constructor to toggle...

As you said, Connection is not mockable, and it will be rewritten when i will create unit tests...

@tomasz8w can you pls confirm that @scop patch fixes it for you ?

[2020-02-20 10:20] tomasz8w commented on #65
I checked both, fix with sleep and @scop's fix but only the first one works for me.

[2020-02-20 19:26] Salamek commented on #65
@scop ok, that did not work... what now? Until i get my hands on B525s-23a, i'm kinda out of ideas worth trying right now...

[2020-02-20 20:16] blissarts commented on #65
Hi
In case it helps somehow: i have an B529s-23a and the same issue.
BR

[2020-02-20 20:26] scop commented on #65
Well, it's kind of good that it didn't work, means we don't have to give up on keepalive :)

Maybe try the delay, then. Something like this?
[code]
(If that works, we may want to be more targeted than just ConnectionError, i.e. try also looking up if its cause is RemoteDisconnected etc, but this shoud suffice for trying stuff out.)

I just occurred to me that library users could probably circumven

[2020-02-20 20:29] scop opened #67 "login_on_demand=True no longer "works""
After we removed the authorized call markers, `login_on_demand=True` no longer actually does what it says, there's nothing that would login on demand/automatically any more. Not sure yet what would be the best fix.

[2020-02-20 22:15] tomasz8w commented on #65
Ok - looks that only 2 retries are enough to make it work and also no need to sleep. Catched error is
[code]

[2020-02-21 15:32] Salamek commented on #67
We should probably deprecate that option (throw deprecation warning when True), keep it that way like ~2 versions and then drop it completely... that means remove condition on line: https://github.com/Salamek/huawei-lte-api/blob/b7138e98d51c26b5348612b57187b1287664eb40/huawei_lte_api/AuthorizedConnection.py#L27

I bet that no one is using login_on_demand=True anyway (my code is not using it)...

[2020-02-21 21:05] scop commented on #65
My guess is that it does just require "some time", which may be system/setup dependent, and retrying without sleeping ends up consuming a bit of time as a side effect. Retrying in a busy loop without any sleep whatsoever doesn't sound like a good idea to me. Anyway, will file a PR.

[2020-02-21 21:27] scop commented on #65
#68 filed, final testing would be nice.

[2020-02-21 22:51] tomasz8w commented on #65
I changed User.py according to #68  and tested it with the script but it's not working with second if condition:
[code]
but I'm not sure what is this part of code supposed to do so maybe it's alright?

[2020-02-21 23:09] scop commented on #65
Thanks for testing. Comments about #68 would be better placed in #68 rather than here. I'll reply there.

[2020-03-02 05:07] #56 closed

[2020-03-02 05:07] #65 closed

[2020-03-03 16:01] scop opened #69 "1.4.8 release not in PyPI"
Seems 1.4.8 was released but it's not available in PyPI.

[2020-03-03 17:23] Salamek commented on #69
yeah, i had full infrastructure refactor and all my CI scripts needs to be updated to reflect that...

[2020-03-03 18:16] Salamek commented on #69
ok, CI fixed, release deployed

[2020-03-03 18:16] #69 closed

[2020-04-06 16:14] juanjosepablos opened #75 "Send AT Commands"
Nice work.
I have been searching on the API, and I could not find a way. I would like to know if I could send:
"AT^NVRDEX=50503,0,128"  without opening the case.
it will show NV codes in hash format.

[2020-04-09 19:36] ErikPDev commented on #1
Great Idea.

[2020-04-10 09:53] Salamek commented on #1
yea, now we need someone to actually do it...

[2020-06-02 13:45] luisalcarasr commented on #1
Some progress about it?

[2020-06-24 13:37] edsub opened #78 "Searching for api to switch between 4G and WAN"
My B315 has the option to 'failover' from the 4G connection to a WAN connection (or the other way around).
This failover apears to be manual.
I am searcjing for the api to trigger the switchover from 4G to WAN.

[2020-07-28 19:37] raspberrypi3bdii opened #79 "client.sms.send_sms() Not sending message"
Hi All,

I'm trying to send a sms with the api. Here is my code:
[code]
this is the output of the prints:
[code]
But there is no SMS on the destination phone

Any idea why?

regards.

[2020-08-04 08:33] cagnulein commented on #79
on my 525, your code works flawless
Which router have you got?

[2020-08-04 08:45] raspberrypi3bdii commented on #79
Hi @cagnulein

I have a Huawei-E5576-320, working with a duplicated SIM (Orange is my ISP).

I'm starting to think that maybe is a configuration problem or something related to SIM restrictions (It's duplicate from my phone SIM, but I think only for data services...)

Did you tried with a normal SIM? As I said, there is no errors in the code but i noticed this in the output:

`'country_number': No

[2020-08-04 08:56] cagnulein commented on #79
Hi @raspberrypi3bdii

Yes, i tried with a standard sim from WindTre Italy.

My output is:
{'SaveMode': '0', 'Validity': '10752', 'Sca': '+393205858500', 'UseSReport': '0', 'SendType': '1', 'pagesize': '20', 'maxphone': '50', 'import_enabled': '1', 'url_enabled': '1', 'cdma_enabled': '0', 'smscharlang': '0', 'smsisusepdu': '0'}

[2020-08-04 09:03] raspberrypi3bdii commented on #79
Hi @cagnulein

So, my output has more parameters than yours:

[code]

I think we may found the issue here...

Anyone knows about this parameters?

Regards.

[2020-09-13 13:00] scop opened #82 "Provide better error when pointed to something else than a Huawei LTE device"
[code]

Should provide a more indicative error than a generic XML parse one. Preferably something that the user code can examine to determine that the device is not a Huawei LTE one (e.g. somehow the 404 passed through). Perhaps should not try parsing XML for 404's, use requests' raise_for_error selectively (or everywhere except selectively not) etc.

[2020-10-09 06:00] Salamek commented on #82
There is no 100% way to check if device we are trying to connect is a Huawei LTE modem (except checking MAC but that is BS)...
So i think best way will be to handle that XML parse exception and "rethrow" our own IDK something like:
[code]

@scop What do you think?

[2020-10-09 06:03] Salamek commented on #79
@raspberrypi3bdii Hi,
your code works on my B310-22... so... any news on this?

[2020-10-09 06:23] scop commented on #82
As mentioned, I think the HTTP status code should be a part of the exception thrown there, so users can use that in their decision making. Possibly also some other sanity checks on the structure we get if the XML parses successfully, if doable.

In case, let's chain the original exception if there is one, like `raise OurException(..., htttp_status=...) from originalexception`

[2020-10-12 15:49] NullSense opened #84 "Is it possible to modify the /etc/hosts file?"
I am using the HUAWEI B528S-23A

[2020-10-12 15:57] Salamek commented on #84
@NullSense like /etc/hosts inside the router? No... not from this Library.
This Library uses same calls as a Huawei router Admin interface... so what you cant do from admin interface, you cant do from this Library...

To edit a /etc/hosts inside your router you need to gain a root access to it...

[2020-10-12 15:57] #84 closed

[2020-10-12 15:58] NullSense commented on #84
RIP, do you know if there's a way to do so?

[2020-10-12 16:10] Salamek commented on #84
@NullSense well i was able to gain a root access to one of my huawei devices using telnet or UART
So nmap your device IP and check if telnet or ssh is running there and try to exploit that... (sometimes admin login & password works)
If no telent or SSH port is open, you need to disassemble your device and find a UART header and use USB->RS232->UART conveter to connect to it... but still it can be

[2020-10-25 09:33] bialkou commented on #1
Some info can be found here http://forum.jdtech.pl/Watek-hilink-api-dla-urzadzen-huawei (in polish)

[2020-11-03 10:30] jllodra opened #85 "Max sessions reached"
After a couple of successful executions of the sample code provided in the readme,
I get errors (No rights, already logged in...).

Then I try to login on the user interface and I read a message like "Max sessions reached, cannot login".

I wait something like 10 minutes and I can enter again.

My guess is that API does not do the "logout" when it finishes, am I missing something?

I'm on Huawei B

[2020-11-03 10:36] jllodra commented on #85
Seems I was missing `client.user.logout()` at the end

[2020-11-03 10:36] #85 closed

[2020-11-11 15:49] asarubbo opened #86 "pytest-runner deprecation"
Hi,

from https://pypi.org/project/pytest-runner/ :

Deprecation Notice
pytest-runner depends on deprecated features of setuptools and relies on features that break security mechanisms in pip. For example ‘setup_requires’ and ‘tests_require’ bypass pip --require-hashes. See also https://github.com/pypa/setuptools/issues/1684.

It is recommended that you:

Remove ‘pytest-runner’ from your ‘setup_re

[2020-11-23 09:38] baonq243 opened #87 "Can't get signal from Huawei e8372"
12d1:14db Huawei Technologies Co., Ltd. E353/E3131

[code]

[2020-11-29 15:34] ZyXELis opened #88 "Caused by SSLError(SSLError("bad handshake"
Hi,

everything was working until an autoupdate of the router, I believe. Now it cannot accept self-signed router SSL certificate.
Is there an option we should use to accept all certificates or ignore it?

B535-232
Current version: 10.0.1.1(H191SP4C983)
--
python3-huawei-lte-api/unknown,now 1.4.14-1 all [installed]

---
send_sms.py:

import sys
from huawei_lte_api.Client import Client
from huawei_

[2020-12-05 16:06] SCiunczyk opened #89 "e3371 - pb module - question"
Hi,

first of all - many thanks for your library - IMHO the best available now in our corner of Galaxy! I'm using it on my project based on HUAWEI E3372. BTW if you want I can send you the hardware - as I have spare one.

I would like to use Phonebook (PB) module but I'm missing many functions. Mostly I need two functions pb-new and pb-delete.

I think that I can program this functions myself and

[2020-12-08 01:06] Salamek commented on #89
@SCiunczyk hi, sadly i don't have any Huawei device here that supports PB module, but you should be able to write working code and create a PR... the pb_new code should look something like this:

[code]

PS: Testing HW is always welcomed, send me a email so i can send you shipping info...

[2020-12-08 01:16] Salamek commented on #88
@ZyXELis hi...
well ~correct way how to fix this is make your OS to trust that certificate... somehow... but quick and dirty fix is to modify this line in `/usr/lib/python3/dist-packages/huawei_lte_api/Connection.py` :
https://github.com/Salamek/huawei-lte-api/blob/2b80c180179d056ddaeca86836587953e5f4e0c1/huawei_lte_api/Connection.py#L40

and change it to:
[code]

That disables SSL verification an

[2020-12-08 01:21] Salamek commented on #87
@baonq243 sadly i don't have access to the e8372 or E3131 as your device is identifier by `lsusb` ... so i can't help with that right now...
Is your signal info displayed correctly in the admin interface? cos this looks like your device is just not correctly reporting this info instead of issue in this library...

[2020-12-08 01:36] Salamek commented on #75
Option to SEND AT commands is usually available only via modem serial interface (When USB dongle have disabled HiLink interface and is set to legacy mode using pppoe).
I don't think that sending AT commands can be done via REST API that HiLink mode is using, but there may be HiLink alternative to get data you need...  are those NV codes visible somewhere in admin interface?

[2020-12-08 07:15] ZyXELis commented on #88
did not work :(

Traceback (most recent call last):
  File "send_sms.py", line 7, in <module>
    connection = AuthorizedConnection('http://admin:D87tv3RJ52Bzt44n8q@10.0.0.140/')
  File "/usr/lib/python3/dist-packages/huawei_lte_api/AuthorizedConnection.py", line 21, in __init__
    super().__init__(clear_url, timeout=timeout)
  File "/usr/lib/python3/dist-packages/huawei_lte_api/Connection.py", l

[2020-12-08 07:19] baonq243 commented on #87
In my hilink app everything is okay.
client.device.information() is work perfect :D but can't get signal
[code]

[2020-12-08 16:37] Salamek commented on #87
@baonq243 hmm maybe your device is using some different endpoint to get signal data? can you check in your browser dev tools what calls are made when you are on signal info page?

[2020-12-09 18:56] SCiunczyk commented on #89
Thanks @Salamek your code works as expected. So I'll create all pb module functions and then prepare PR...

Please check your e-mali and send me info with your address.

[2020-12-14 18:16] #89 closed

[2020-12-23 12:45] Salamek commented on #75
Closing due to old age

[2020-12-23 12:45] #75 closed

[2020-12-23 12:46] Salamek commented on #79
Closing due to stale state of this issue and age, reopen if issue persists

[2020-12-23 12:46] #79 closed

[2021-01-11 15:04] bashar-ait opened #97 "Is there a way to use proxy with API calls."
Hello there,

How can i send an API request through a proxy? just like how we can using requests package.

`requests.get(url,proxies=proxies)`

Is there a way to do the same with the api?

[code]

[2021-01-15 11:46] MulMic commented on #50
Hi Salamek,

I just tried your library on a Huawei "B818-263" aka "4G Router 3 Prime". From your example, run from a RaspberryPi 4 wirh Manjaro (ARCH) Linux. I got:

`{'DeviceName': 'B818-263', 'SerialNumber': 'VNN7S20518002678', 'Imei': '867193043002992', 'Imsi': '262074016901006', 'Iccid': '8949227205105650065', 'Msisdn': '+4917641679119', 'HardwareVersion': 'WL3B818M', 'SoftwareVersion': '10.0.

[2021-02-26 10:01] MulMic opened #98 "dump.py checked with B818-263"
Hi Salamek,

I ventured to try your listed api/ endpoints on my Huawei "B818-263" aka "HUAWEI 4G Router 3 Prime"
the results are in the attached file. I left out every endpoint that resulted in error 100003, which seems to be the equivalent for 404, wheras errors 100001,100002 and 100005 seem to inidicate, that additional information is required.. I used login for all entries.

Hardware Version: W

[2021-03-11 14:56] hvanoch opened #99 "Feature request: receive SMS in home assistant"
Are you willing to support more features in home assistant?
One of the biggest feature I am missing is the "Receive SMS" functionality.

Would you be willing to support this if I come up with a PR?

My idea is to have similar approach as the current [SMS integration](https://www.home-assistant.io/integrations/sms/#notifications)

I guess the only option is to poll every x time and when we notice w

[2021-03-11 22:27] Salamek commented on #99
@scop i think this is Q on you... :smile

[2021-03-23 04:48] bekon16 opened #100 "E3372 - Home assistant - messages in draft - firmware version."
Hi,

I have created similar issue on git for home assistant: https://github.com/home-assistant/core/issues/48240 (long story short: SMS instead of sending is adding to draft box)
but i have additional question for you.
What version of firmware will be the best to work without any problem? Can you recommend some?
I have tried few version from this: https://www.mediafire.com/folder/ll9ieqqooyhy5/Doc

[2021-04-04 18:18] bekon16 commented on #100
everything works as expected.

[2021-04-04 18:18] #100 closed

[2021-04-14 13:28] asarubbo opened #101 "Invalid json from at least get_sms_list"
[code]

I got:
[code]

Json validator says that it is invalid, infact I can't parse it with jq.

1)
'Sca': None
should be
'Sca': 'None'

( missing single quote)

2)
All strings should have double quote.

I can get a valid json with the following ( just for example ):
[code]

[2021-04-14 19:08] Salamek commented on #101
@asarubbo plot twist: that is NOT JSON!

It is print of [Python dict](https://docs.python.org/3/tutorial/datastructures.html#dictionaries), you are basically doing this:

[code]

And that is expected...
if you want JSON on stdout you must do this (convert python dict into JSON string):

[code]

So in your example code:

[code]

[2021-04-16 13:25] Salamek commented on #101
Well i think this is solved... closing

[2021-04-16 13:25] #101 closed

[2021-04-19 09:53] asarubbo commented on #101
Hi, I'm not a python developer so I didn't know python dict :)

Thanks, it works like a charm!

[2021-04-20 13:21] #98 closed

[2021-06-01 14:06] elmpp commented on #99
@scop @hvanoch

I can offer my help with implementing this also...

[2021-06-01 20:18] scop commented on #99
I can have a look if someone submits a HA PR, but I don't have an easy way to test that so unsure how much I can help. Anyway I think this issue and the upcoming PR would be better placed in the HA project rather than here.

[2021-06-04 14:10] alessandrocarrese opened #103 "Methods to disconnect and reconnect dialup"
Are these methods available?

Thanks

[2021-06-04 14:41] Salamek commented on #103
@alessandrocarrese https://github.com/Salamek/huawei-lte-api/blob/master/huawei_lte_api/api/DialUp.py (?yeah?)

[2021-06-04 14:46] alessandrocarrese commented on #103
yes, can I use _set_mobile_dataswitch_ to enable and disable the modem so I can get a new ip?

Thanks

[2021-06-04 15:01] Salamek commented on #103
@alessandrocarrese well you have to try it your self, it will depend on your LTE internet provider since IP assignment is not something that client can easily affect without changing NIC MAC. Usually DHCP and alike provided IPs have some expiration/reservation time for what they are reserved for given NIC MAC and so on...

[2021-06-04 15:50] alessandrocarrese commented on #103
yes, I am going to try,. Do you also know if this method works also for 3G or 4G?

[2021-06-04 16:57] Salamek commented on #103
@alessandrocarrese it should work any "dialup" interface in supported Huawei devices

[2021-06-05 14:25] #103 closed

[2021-06-20 14:52] denklewer commented on #87
My Huawei E8372 LTE Wingle has the same issue. I also have no information about RSSI etc. in HiLink, and I guess this is because this model returns only strength in numbers from 1 to 5

[2021-06-20 14:59] denklewer commented on #87
Same issue for E8372 LTE Wingle. I also have no information about RSSI etc.  in my  HiLink.
Javascript code uses api/monitoring/status  and api/device/signal  URLs
And it seems that device only returns signal in numbers from 1 to 5 to draw a signal bar

[2021-07-23 06:42] arekm commented on #67
Looking for a replacement for (what I assume) on demand was doing. My script runs 24h and checks lte status on router - when it's bad then forces reconnect with set_mobile_dataswitch or does reboot. Now I'm getting exception with "100003: No rights (needs login)" message after each 5 minutes.

So, is timeout in AuthorizedConnection used for anything? I would assume that it relogs in when something

[2021-07-23 21:37] Salamek commented on #67
@arekm well there is RFC PR #96  with changes to handle all this but it needs some polishing and i don't have time right now, i will try to look at it next weeek...

[2021-07-29 13:47] wax911 commented on #88
Out of curiosity, would it not be somewhat easier/better in the long run (readability and maintenance wise) to allow `sessions` to be a constructor with a default argument for `Connection`? I get that d49445b Added `kwargs` for applying props to session which is also good

[2021-08-05 00:41] Salamek commented on #99
Closing this since this is HA q...

[2021-08-05 00:41] #99 closed

[2021-08-05 11:11] dlionel commented on #32
@tatomoaki Have you found a solution?

[2021-08-23 06:29] herbetom opened #105 "Huawei 5G CPE Pro 2 (H122-373) seems to work"
I'm using this library to get some data from a H122-373 for an Prometheus Exporter. At least the `get` stuff seems to work.

Just wanted to report that. Here are some function calls (it is an 5G NSA connection (4G+5G)):

<details>
  <summary>Click to expand!</summary>

[code]
</details>

Thanks for all this work, it's really helpful for me!

[2021-08-25 05:17] asarubbo opened #107 "dicttoxml dependency is dead upstream"
Hello,

during the removal of downstream dicttoxml (because of dead upstream), we noticed that huawei-lte-api still uses it, here is an example of a replacement:

https://github.com/spulec/moto/commit/867fc3b7f7c6a53cba4249b1c1485c6c092e6b3f

[2021-08-25 09:31] Salamek commented on #107
@asarubbo yea, i know about it and about `xmltodict.unparse` i was planning to refactor my code to use it... anyway good to have a issue here for it so i won't forgot :) Now i only need some time to be able to work on this project lol

[2021-09-05 09:03] arekm opened #108 "adding support for dialup profiles editing and mainly setting new default profile"
dialup/profiles seems to be able to be used for profile modification (including changing default profile number).

POST api/dialup/profiles
[code]
Delete - if we want delete profile nr X
SetDefault - if we want to set profile X as default

Info from http://forum.jdtech.pl/Watek-hilink-api-dla-urzadzen-huawei#dialup

On my huawei 5g cpe 2 just doing

[code]

doesn't work unfortunately

huawei_lte_a

[2021-09-08 14:41] #88 closed

[2021-09-09 19:23] #107 closed

[2021-09-10 07:07] arekm commented on #67
Ok. Just a note that

[code]

doesn't relog us in if router is rebooted (in middle of "dosomething", even with just client.device.reboot()) and thus we aren't logged in anymore. enforce_authorized_connection() has no knowledge if we are actually logged in in router (only knows if API thinks we are logged in).

So the only safe thing to do as client is to:

[code]

I don't see "logout" in API, so u

[2021-09-20 11:36] #105 closed

[2021-09-20 12:07] #86 closed

[2021-09-20 16:53] Salamek commented on #78
@edsub This library uses same REST endpoints as a modem GUI, so... and i don't have any Huawei device with WAN to test/implement failover endpoints

[2021-09-20 22:17] Salamek commented on #97
@bashar-ait  in version 1.5 there is new option to pass custom `requests.Session`, that should solve your issue, see this howto example code: https://github.com/Salamek/huawei-lte-api/blob/master/examples/connect_with_proxy.py

[2021-09-20 22:17] #97 closed

[2021-09-20 22:24] Salamek commented on #67
@arekm 1.5 is out with context manager and option to close session...
so you can do

[code]

or

[code]

Let me know if this release solves your issues....

[2021-09-21 07:33] arekm commented on #108
enc is missing in
''application/x-www-form-urlencoded; charset=UTF-8'

It should be:
'application/x-www-form-urlencoded; charset=UTF-8;enc'

[2021-09-21 09:30] Salamek commented on #108
@arekm my router is using ''application/x-www-form-urlencoded; charset=UTF-8' and additional header:

[code]

And it works, it is not working for your router in this configuration?

[2021-09-21 10:42] arekm commented on #108
Mine uses 'application/x-www-form-urlencoded; charset=UTF-8;enc'  and doesn't send 'encrypt_transmit'.  Without ';enc' I'm getting "huawei_lte_api.exceptions.ResponseErrorException: 100001: Unknown" on "POST /api/dialup/profiles".

Also it actually doesn't do GET api/webserver/publickey but instead takes rsa components from

[code]
which returns
[code]
then
[code]
which returns:
[code]

*but* api/

[2021-09-21 11:27] arekm commented on #108
Encryption is done a bit differently for my router:

[code]

[h.txt](https://github.com/Salamek/huawei-lte-api/files/7202662/h.txt)

[2021-09-21 13:18] Salamek commented on #108
@arekm Ok, your patch should be part of 1.5.1 release

[2021-09-21 13:34] arekm commented on #108
Thanks.

[code]

[2021-09-21 13:45] #108 closed

[2021-09-21 13:57] arekm opened #109 "pycryptodomex dep in setup.py"
Small thing but will help distro package maintainers who package huawei-lte-api.

pycryptodomex should end up in setup.py install_requires, too or that made somehow to use requirements.txt file. Otherwise for example rpm python dependency generator doesn't pick it up as installation requirement.

[2021-09-21 14:17] #109 closed

[2021-10-04 11:49] Alexis000000 opened #111 "Certificate expired"
Hello,

I tried to install the API but an error occurred saying that the certificate is expired.
Is there anyway this can be solved ?

kindly

[2021-10-04 12:03] Salamek commented on #111
@Alexis000000 install how? on what os?

[2021-10-04 12:53] Salamek commented on #111
@Alexis000000 screenshot is not uploaded correctly...
Also, what version of ubuntu?

[2021-10-04 13:44] Salamek commented on #111
@Alexis000000 my guess is that you are using old version of ubuntu with expired letsencrypt root cert:
https://superuser.com/questions/1679204/curl-on-ubuntu-14-all-lets-encrypt-certificates-are-expired-error-60

[2021-10-05 13:23] Alexis000000 commented on #111
I am using ubuntu 18.0.4

Here is the output of all the commands

xxxxxx:~$ sudo pip install huawei-lte-api
Requirement already satisfied: huawei-lte-api in /usr/local/lib/python3.8/dist-packages (1.5.2)
Requirement already satisfied: pycryptodomex in /usr/local/lib/python3.8/dist-packages (from huawei-lte-api) (3.10.4)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (fro

[2021-10-05 13:41] Salamek commented on #111
1) You can install this package by PIP OR by APT, you don't need to do both
2) And you have same issue as is mentioned on this URL https://superuser.com/questions/1679204/curl-on-ubuntu-14-all-lets-encrypt-certificates-are-expired-error-60 so please follow steps on the URL to fix it, this is common issue these days (https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/)

[2021-10-05 15:29] Alexis000000 commented on #111
Thank you!
I installed it successfully but I still don't have the huawei-lte directory downloaded.

[2021-10-05 23:48] Salamek commented on #111
@Alexis000000 umm huawei_lte_api is a python package, so just include it using:

[code]
in your python code

[2021-10-09 11:17] Salamek commented on #111
Well i take this as resolved, Closing

[2021-10-09 11:17] #111 closed

[2021-10-12 19:32] andreimoraru opened #112 "Powering off the modem from API"
I am looking for a way to programmatically power off the Huawei modem (by the way I am testing Huawei E5785Lh-23c, it works well with most of API calls in the library).
Could you please advise?
I can't really find in the web UI of the modem the button to power it off.

Thanks,

[2021-10-13 11:52] #112 closed, assigned to nobody

[2021-11-29 16:04] Kalvelign opened #115 "What im missing for reboot command ?"
Hi , i would like to restart my huawei dongle with this lib but what im missing in my code for restarting it ?

# Code from my file :
from huawei_lte_api.Client import Client
from huawei_lte_api.Connection import Connection
from huawei_lte_api.api import Device

with Connection('http://192.168.8.1/') as connection: For limited access, I have valid credentials no need for limited access
with Connec

[2021-11-29 17:14] Kalvelign commented on #115
SORRY ! im kindad useless issue because the code is actually logic and simple !

For the peuple who need to restart or do any orther action with ths lib is simply as :

# EXAMPLE CODE
from huawei_lte_api.Client import Client
from huawei_lte_api.Connection import Connection

with Connection('http://admin:Wordpassword1!@192.168.8.1/') as connection:
    client = Client(connection)
    print(client.d

[2021-11-29 17:14] #115 closed

[2021-12-04 16:11] SharkFourSix commented on #32
Were you able to find a solution?

[2021-12-06 19:59] shorimiz opened #117 "Support B628-265 Router"
Hello does B628-265 router support by the api ?

[2021-12-06 23:11] Salamek commented on #117
@shorimiz not sure, we don't have any positive/negative report on this router, i guess you need to test it your self ;-)

[2021-12-07 05:45] shorimiz commented on #117
Tnx 😁

On Tue, Dec 7, 2021, 1:11 AM Adam Schubert ***@***.***> wrote:

[2021-12-10 15:36] outofsight opened #118 "ResponseErrorLoginRequiredException while calling user.login()"
Not sure if this a question, an enanchement or a bug. I'm developing a long running service that requires regular access (every 30sec - 5min, to be defined) to a Huawei modem.

I think it was a good idea to save Connection object and reuse among calls to Huawei api.

Looking at source code I noticed I need/can freely call user.login() api before api access to ensure a proper login session is estab

[2021-12-11 13:41] Salamek commented on #118
@outofsight We need to implement some user session recycle service, that means when user session time outs, log out-> log in

For you it means to handle the user session time out exception (ResponseErrorLoginRequiredException) or check time of login + session time out time

And call
[code]

if that still does not work:
[code]

I would like to implement some "keep me logged in" service, but there w

[2021-12-11 15:40] outofsight commented on #118
@Salamek Thanks for explaining.

I'm not sure how to get session timeout wich I think can be hardware/firmware specific, but checking login time and session timeout seems to me an unreliable way to ensure a valid login session before calling a number of api. Or not?

If I well understand, if I want to ensure a valid login session, after some time from last api call, already having a previusly used

[2021-12-17 18:02] grawsom opened #119 "3372h-320 (send-sms) seems like it needs encryption??"
Why I'm writing here is because I wanted to use the 3372 in Node-red, and [this one](https://github.com/zinen/node-red-contrib-huawei-router) have made a Node-red package that uses you API - but.

Seems like the 3372h-320 need some encryption when doing some sms stuff, for me it's send-sms.

Maybe [this one](https://github.com/vzakharchenko/huawei-hilink) could help, because the send-sms works wit

[2021-12-20 14:32] Salamek commented on #118
@outofsight yea, something like that, it needs a bit of "dark magic" to work properly, as you can see whole login and user session implementation is a mess on the huawei part and i had no other option then reflect that in my code...

[2021-12-20 14:32] #117 closed

[2021-12-20 14:35] Salamek commented on #67
And login_on_demand has been deprecated and has no effect, it will be removed in next major release, so closing this for now

[2021-12-20 14:35] #67 closed

[2021-12-31 10:02] Wildside-UK opened #122 "Error when trying to connect to B535-333"
When trying to connect to a B535-333 I am presented with the following error. It seems that no Huawei monitor is able to connect to this router.

 Traceback (most recent call last):
   File "C:\Users\Steve\Documents\GitHub\huawei-lte-examples\huawei-lte-band\main.py", line 18, in <module>
     from huawei_lte_lib import *
   File "C:\Users\Steve\Documents\GitHub\huawei-lte-examples\huawei-lte-band

[2021-12-31 11:56] Salamek commented on #122
@Wildside-UK you need to use pre 1.5.3 version of `huawei-lte-api` or fix incorrect import in huawei-lte-examples.
Exception `ResponseErrorLoginCsfrException` has been deprecated for long time and was replaced by `ResponseErrorLoginCsrfException` in 1.5.3 release of `huawei-lte-api`

[2022-01-06 15:17] Grynr38 opened #124 "Unable to connect"
Hi,
I've been using the script for a while I stopped using it in December, I've reactivated my settings today but unable to connect :
[code]
LAN ip is correct, user:pass is correct, ping does reply

[2022-01-06 15:40] Salamek commented on #124
[code]

Well, library is unable to connect to your modem at port 80 at lowest level (socks) and there is nothing that I can do about it, make sure that:

* IP address is correct
* Router web UI is listening on port 80 (there may be automatic router firmware update moving it to 443, if that is the case you need to use https:// and disable SSL cert checking, see https://github.com/Salamek/huawei-lte

[2022-01-06 15:43] #122 closed

[2022-01-06 15:57] Salamek commented on #82
Related #122

[2022-01-12 01:03] Simoliv opened #125 "KeyError: 'ID' in _to_multi_basic_settings_ssid_body"
Hi there, this great stuff, thanks a lot 1st !!

I was hoping to be able to switch off/on the wifi module of my B315s-22 4G Router, but it seems, there is some problem ?

I did :

`from huawei_lte_api.Client import Client
from huawei_lte_api.Connection import Connection

with Connection('http://admin:XXXXXXXXXX@192.168.1.1/') as connection:
    client = Client(connection)
    print(client.device.s

[2022-01-12 04:42] Salamek commented on #125
@Simoliv what does :

[code]
returns for you?

[2022-01-12 20:48] elBoz73 opened #126 "huawei e3372h-320 not detected at all"
Hello,
New to home assistant I would like to get sms notification (and maybe send command throw sms if possible).
But for now I am completly stuck on the first step which is getting my key recognized by home assistant... Bad start
The usb key should be compatible huawei  e3372h-320
From a pc everything is working fine, I tested the sms throw the web interface (and it si working).
I remove pin chec

[2022-01-12 23:03] Simoliv commented on #125
this :

`{'WifiSsid': 'XXXXXXX', 'WifiChannel': '0', 'WifiHide': '0', 'WifiCode': 'ES', 'WifiMode': 'b/g/n', 'WifiRate': '0', 'WifiTxPwrPcnt': '100', 'WifiMaxAssoc': '32', 'WifiEnable': '1', 'WifiFrgThrshld': '2346', 'WifiRtsThrshld': '2347', 'WifiDtmIntvl': '1', 'WifiBcnIntvl': '100', 'WifiWme': '1', 'WifiPamode': '0', 'WifiIsolate': '0', 'WifiProtectionmode': '1', 'Wifioffenable': '1', 'Wifiofft

[2022-01-12 23:31] #125 closed

[2022-01-12 23:32] Salamek commented on #125
@Simoliv nah, you just need to use correct multiline code syntax highlight block, see https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

Also check if changes in https://github.com/Salamek/huawei-lte-api/commit/3e6a745c342cf20aed24ab99b7f44a0fe59b9f0a works for you

[2022-01-12 23:48] Salamek commented on #126
Hi @elBoz73 this repository is not a part of home assistant project, so if you have any issues with their huawei-lte-api integration, you should reach them on their GitHub https://github.com/home-assistant/core or support forum if they have any...

Did you follow their huawei_lte integration howto wiki https://www.home-assistant.io/integrations/huawei_lte/ to set up your modem ?

[2022-01-12 23:48] #126 closed

[2022-01-13 00:37] elBoz73 commented on #126
Hi @Salamek,
Thanks, I tryed their wiki and it did not work.
I'll try to contact them on the core.
in parallel of it, I will try to make it run on the operationg system

The key is not identified as USB ( I do no have any usb entry for it ).
I tried to directly install the api  using pip but I got the following error "ModuleNotFoundError: No module named 'distutils.cmd'
After I tried the wget but

[2022-01-13 01:19] Salamek commented on #126
@elBoz73 USB huawei routers create a virtual network interface, check by running `ip addr` if it is created you should see something like:

[code]
added to the interface list after connecting the USB key

[2022-01-13 07:58] elBoz73 commented on #126
@Salamek, the ip command does not seems to be installed on home assistant operating system.
Maybe I missed something, so I'll try to get deeper in this. I keep you inform.

[2022-01-19 21:16] #124 closed

[2022-02-15 22:23] ryanbarlow97 opened #127 "Exception has occurred: SSLError"
![image](https://user-images.githubusercontent.com/7389646/154159716-45370cf4-5832-4efe-bc39-b9c16dd8db47.png)

[2022-02-15 22:24] ryanbarlow97 commented on #127
![image](https://user-images.githubusercontent.com/7389646/154159793-aca0052a-d89d-4cfd-86a0-db786ab3151d.png)

I have been trying to "update" my certificate but I can't seem to do it. I don't really know what else to do?

[2022-02-16 10:08] Salamek commented on #127
@ryanbarlow97 In that case, you need to ignore SSL, see this example:

https://github.com/Salamek/huawei-lte-api/blob/fdfcedd72fa5b5fcf1fe50857d20eca045839666/examples/ignore_ssl_check.py#L21-L33

[2022-02-16 22:16] ryanbarlow97 commented on #127
Alright, thanks, I sorta fixed it by just rewriting the API without realising this was a thing. Would it be possible to use this API to change bands?

[2022-02-17 00:14] Salamek commented on #127
@ryanbarlow97 see
*  `DialUp.set_default_profile`
*  `DialUp.delete_profile`
*  `DialUp.create_profile`

[2022-02-17 00:14] #127 closed

[2022-02-17 03:10] ryanbarlow97 commented on #127
This doesn't let me change bands, I want to set it so my router will only look at bands 1, 20, and 28.

Thanks

[2022-02-17 03:28] ryanbarlow97 opened #128 "huawei_lte_api.exceptions.ResponseErrorLoginRequiredException: 100003: No rights (needs login)"
So, I am testing things around the antenna, and it keeps getting login fails, but I know for a fact the password is correct.

![image](https://user-images.githubusercontent.com/7389646/154398751-3d8a66d8-e98b-4dca-9975-8ed8ceb1ec0b.png)

- antenna_status()
- antenna_type()
- get_antenna_settings()

(Some of the things I have tested give the same error).

It does work for things like signal() thoug

[2022-02-17 07:47] Salamek commented on #127
@ryanbarlow97 ah band, sorry i read profile for some reason lol,see:

https://github.com/Salamek/huawei-lte-api/blob/fdfcedd72fa5b5fcf1fe50857d20eca045839666/huawei_lte_api/api/Net.py#L16

[2022-02-17 07:55] Salamek commented on #128
All these works ~correctly for me on B310-22s

antenna_status()
[code]

antenna_type()
[code]

get_antenna_settings()
[code]

Does you'r router support these? (Huawei firmware is a mess so it may throw incorrect errors), are you logged in correctly? (show your code)

[2022-02-17 17:23] ryanbarlow97 commented on #128
I have this router:
Huawei 5G CPE Pro 2 (H122-373)

I am logged in using the method you made, you can see from my last screenshot that it logs in and scrapes all the data correctly, so it's not a login issue?

[2022-02-17 17:26] ryanbarlow97 commented on #128
![image](https://user-images.githubusercontent.com/7389646/154536387-f8a553d2-cfa8-4450-bce0-bafdfcc828eb.png)

Image of the code ^

[2022-02-17 18:52] ryanbarlow97 commented on #128
- api/device/basic_information
- api/security/bridgemode
- api/monitoring/check-notifications
- api/monitoring/converged-status
- api/net/current-plmn
- api/global/custommenu-url
- api/system/devcapacity
- api/device/device-feature-switch
- api/system/deviceinfo
- api/dialup/dialup-feature-switch
- api/dhcp/feature-switch
- api/security/firewall-switch
- api/user/hilink_login
- api/system/HostInfo

[2022-02-17 18:58] ryanbarlow97 commented on #128
Of these, I am only getting a response from:

- api/monitoring/converged-status
- api/system/devcapacity
- api/device/device-feature-switch
- api/system/deviceinfo
- api/dialup/dialup-feature-switch
- api/dhcp/feature-switch
- api/security/firewall-switch
- api/user/hilink_login
- api/system/HostInfo
- api/host/info
- api/monitoring/statistic-feature-switch
- api/monitoring/status

So many disable

[2022-02-27 13:13] drhaka opened #129 "KeyError: 'password_type' on E5776s-32"
pi@raspberrypi:~$ python3 -i device_info.py http://admin:admin@192.168.42.1/
Traceback (most recent call last):
  File "/home/pi/device_info.py", line 19, in <module>
    with Connection(args.url, username=args.username, password=args.password) as connection:
  File "/home/pi/.local/lib/python3.9/site-packages/huawei_lte_api/Connection.py", line 28, in __init__
    self.user_session = UserSession(

[2022-02-27 15:27] Salamek commented on #129
Hmm looks like your modem is not returning correct data from `state_login`
What do you get when running

[code]

?

[2022-02-28 16:40] drhaka commented on #129
It returns

{'State': '-1', 'Username': None}

Den sön 27 feb. 2022 kl 16:28 skrev Adam Schubert ***@***.***

[2022-02-28 17:33] Salamek commented on #129
Ok so `password_type` is missing, that's new...

Can you try to replace this line in your install of `huawei_lte_api`
https://github.com/Salamek/huawei-lte-api/blob/fdfcedd72fa5b5fcf1fe50857d20eca045839666/huawei_lte_api/api/User.py#L109

With
[code]
That forces Password type to BASE_64

if that does not work, try to use

[code]

if none of these work, you will need to reveng your `webgui`  login

[2022-02-28 23:53] drhaka commented on #129
That got me past the initial error, however with both options I still end
up with
 huawei_lte_api.exceptions.ResponseErrorException: 100008: Unknown

however if I remove the username:password and use limited access I now get
some results

print(client.device.signal()) returns
100002: No support

print(client.device.information()) returns
{'DeviceName': 'E5776', 'SerialNumber': 'redacted', 'Imei':

[2022-03-01 10:29] Salamek commented on #129
So `PasswordTypeEnum.BASE_64` works for you? (looks like YWRtaW4= is  just base64 `admin`) If so, ill make it default when no `password_type` is set and we can go from there

[2022-03-04 22:33] arekm commented on #128
Here, on Huawei 5G CPE Pro 2, official web gui does GET api/device/antenna_type (while in advanced->system->system settings) query which ends up with:
[code]

so maybe it's not implemented at all (here I have firmware from play.pl operator).

If you do

[code]
in browser inspector you will find that there is even gui part for antenna settings:

[code]

[2022-03-09 08:47] GG575 opened #130 "Delete all messages from LocalOutbox"
How do I delete all messages in LocalOutbox?

[2022-03-09 09:46] Salamek commented on #130
See https://github.com/Salamek/huawei-lte-api/blob/master/huawei_lte_api/api/Sms.py

https://github.com/Salamek/huawei-lte-api/blob/fdfcedd72fa5b5fcf1fe50857d20eca045839666/huawei_lte_api/api/Sms.py#L26
https://github.com/Salamek/huawei-lte-api/blob/fdfcedd72fa5b5fcf1fe50857d20eca045839666/huawei_lte_api/api/Sms.py#L44

[2022-03-09 11:29] GG575 commented on #130
Am reusit. Multumesc pentru ajutor.

[2022-03-09 11:30] GG575 commented on #130
I succeeded. Thank you for help.

[2022-03-09 17:20] #130 closed

[2022-03-13 19:10] Salamek commented on #129
@drhaka ping

[2022-03-13 21:58] drhaka commented on #129
Well not really, User.py still exits due to 100008: Unknown if i try to
connect with any credentials. I could only get unprivileged to work now
with the fix. But it's something.

The login I did through curl timed out after half a minute or so, but
main.js has a function that seems to be what's keeping the session from
timing out when in the browser:

function postHeartBeatRequest()
{
    var Keep

[2022-03-25 06:22] paulzag commented on #50
I've installed on a R-Pi 3+ with Huawei 5576-856 aka Vodafone Pocker Wifi 3 4G. I can send_sms in Australia and I can get_sms from the device. Well done! I gave up on Gammu as it can't talk to the port/device once it becomes an ethernet device.

Do you still need devices? I'd like to help out.

[2022-03-30 18:34] dotlambda opened #135 "Version called 1.6 on GitHub but 1.6.0 on PyPI"

[2022-03-30 19:54] Salamek commented on #135
@dotlambda  and that is problem why exactly?

In my world 1.6 == 1.6.0:

[code]

[code]

But if that creates some issues somewhere  (some packaging systems or idk) i can release a patch version for you (1.6.1)  and change version generator in https://github.com/Salamek/version to include zero patch version

[2022-03-30 20:19] dotlambda commented on #135
I'm not sure it actually creates an issue. I just wanted to make you aware of te discrepancy.

[2022-03-30 20:19] #135 closed

[2022-05-26 12:39] drepou opened #138 "could you add the restart precedure on the code ???"
I looked to api but dint find the possibility to restart the router from webui api. because B715 have on issue on single 4G band with free the connection is freezed every 12h and nothing else than reboot solve the issue ( it a FAI issue ! )

Can you  please add that add the reboot possibility to the lib ???

I tryed this project https://github.com/mkorz/b618reboot
 to do it but i get an error with

[2022-05-26 20:57] drepou commented on #138
hooo thanks

[2022-05-27 09:01] #138 closed

[2022-05-30 19:42] herbetom opened #139 "prometheus: huawei-lte-exporter"
I've got some code to build a prometheus Exporter with this API:

https://github.com/herbetom/huawei-lte-exporter

However, at this point in time I have only tested it with our Huawei 5G CPE Pro 2 and there is no mechanism to handle missing metrics. This is relevant for example when there can be no 5G metrics because it is an LTE device.

Nevertheless, I want to link this here because I think that

[2022-07-26 21:39] dartoi commented on #88
Hi, how to restore SSL certificate?

[2022-08-26 23:15] mkgin commented on #128
I found that if you continue to use the same connection to the modem ( mine is a B535-333) ... that after a few minutes (maybe 300 seconds or calling the API a certain number of times?), one gets the above mentioned CSRF error and needs to log in with a new again to continue. It is true that quite a few parts of the API can be read without login.

I ended up needing to figure out how to trap the e

[2022-10-28 21:46] stalin4suse opened #155 "Request for Enhancement"

[2022-10-28 21:46] #155 closed

[2022-11-17 13:11] nipil opened #159 "ResponseErrorException: 100006 for hardware CL2E3372HM"
Hello

I'm trying to use huawei-lte-api 1.6.7 package in a python 3.9.2 virtualenv on debian 11

When running any of the provided examples i get an **unknown error response 10006**.
This error code is not (yet) defined i enums/client.py.

My hardware is a E3372 using HiLink software, with the information below from the web interface :

- Hardware version : CL2E3372HM
- Software version : 22.328.62

[2022-11-17 18:01] Salamek commented on #159
Hi, i just tested my E3372 and it works ~fine (well there is small bug in 1.6.7, but it should still work ~):
* Hardware version : CL1E3372SM Ver.A
* Software version : 22.286.03.03.1202
* Web UI version : 16.100.05.02.1202

Maybe try to use version 1.6.4? If it does same thing (huawei-lte-api==1.6.4)...

[2022-11-17 21:51] nipil commented on #159
I just tried the 1.6.4 and is working great, thanks for the idea of reverting to a previous version !
- i can run `data_dump.py` and `device_info.py` ang get actual output
- i was able to toggle `client.dial_up.set_mobile_dataswitch(1)` and connect

For 1.6.7 here is the full trace (_by the way my hardware is not password nor pin protected_)

[code]

Hope it helps

[2022-11-17 23:23] Salamek commented on #159
Yea, thx there were some changes in login/session handling in 1.6.7, we will need to address that...

[2022-11-18 08:27] nipil commented on #159
After reading the discussion in #156, i can confirm that if i reactivate the login with 1.6.7 it works fine with my hardware above

While using default user/pass (admin/admin) i get the following behaviour :
- both or only `--password` correct : `device_info.py` runs fine
- no `--username` and `--password`, or only `--username` : i get "100008: Unknown"
- explicitely wrong username or password : `

[2022-11-18 08:49] nipil commented on #159
One last addition : `logout` seems to fail in 1.6.7 on my hardware _even with a password set_, as shown below :

[code]